setuptools
argon2-cffi
argon2-cffi-bindings
certifi
cffi
charset-normalizer
click
colorama
filelock
Flask
Flask-PyMongo
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
MarkupSafe
minio
numpy
packaging
psycopg2
pycparser
pycryptodome
pymongo
python-dotenv
PyYAML
regex
requests
safetensors
tokenizers
tqdm
transformers
typing_extensions
urllib3
Werkzeug
gunicorn
