{% extends "layout_blank.html" %}

{% block content %}
<form>
  <div class="form-group row">
    <label for="username">User Name:</label>
    <div>
        <textarea id="username" rows="1" style="width: 200px" placeholder="Enter user name"></textarea>
    </div>
  </div>
  <button id="login" type="button" class="btn btn-primary">Submit</button>
</form>
<script>

  $('#login').click(function() {
    postData();
  });
  function postData() {
                    var username = $('#username').val();
                    console.log('POST isteği başarılı:', username);

                  var settings = {
                      "url": "{{API_URL}}/",
                      "method": "POST",
                      "timeout": 0,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "data": JSON.stringify({username}),
                    };

                    $.ajax(settings).done(function (response) {
                      console.log(response.userid);
                      window.location = "{{API_URL}}/active-learning?userid=" + response.userid;
                      // location.reload();
                    });
                  }
</script>
{% endblock %}
